In [6]:
#Définition des paths : 
data_path = "../data_regression/"

In [1]:
#Chargement des librairies nécessaire
# On utilise python 3.12.7
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

# Introduction :

Le jeu de données est tiré d'un [challenge de l'ENS](https://challengedata.ens.fr/participants/challenges/149/)

## Contexte :

SNCF-Transilien est l'opérateur de trains de banlieue d'Île de France. nous faisons circuler plus de 6 200 trains permettant à 3,2 millions de voyageurs de se déplacer.
Ces voyageurs valident leurs cartes à puce sur nos portiques en moyenne 2,3 millions de fois par jour. Le nombre de validations croît de 2015 à 2019 d'environ 6% par an.

## But du challenge

On veut **prédire à moyen-long terme le nombre de validations par jour et par gare.**

## Problématique:

C'est un problème de classification temporelles. Compléxité qui vient le multiplicité des séries.

## Origine des données

Les données sont issues d'un ensemble de base de données de validations provenent d'Île-de-France mobilités.

Les données :

- `train_f_x.csv` : Données quotidiennes de validations de 448 stations du réseau SNCF entre le 1er Janvier 2015 et le 30 Juin 2022.
- `test_f_x_THurtsP.csv` : Données quotidiennes de validations de 448 stations du réseau SNCF entre le 1er Janvier 2015 et le 30 Juin 2022. Données
- `y_train_sncf.csv` : Le nombre de validation par gare.

# Analyse des données et des différentes features

0. Chargement des données
1. Quelles sont les features
2. Distribution des features
3. Les problèmes auquels il faut répondre à partir de là

## Chargement des données

In [7]:
X_train = pd.read_csv(data_path+"train_f_x.csv")
X_train

               date station  job  ferie  vacances
0        2015-01-01     1J7    1      1         1
1        2015-01-01     O2O    1      1         1
2        2015-01-01     8QR    1      1         1
3        2015-01-01     UMC    1      1         1
4        2015-01-01     FK3    1      1         1
...             ...     ...  ...    ...       ...
1229858  2022-12-31     V2P    0      0         1
1229859  2022-12-31     N9K    0      0         1
1229860  2022-12-31     P6E    0      0         1
1229861  2022-12-31     BDC    0      0         1
1229862  2022-12-31     W14    0      0         1

[1229863 rows x 5 columns]